@inherits LayoutComponentBase

<PageTitle>ASSIST TOY</PageTitle>

<div>
    <NavMenu UpdateParentVariable="UpdateParentVariable" />

    <main class="@NavMenuCssClass">
        @Body
    </main>
</div>

@code {
    private string? NavMenuCssClass { get; set; } = "dark";
    private void UpdateParentVariable(string newValue)
    {
        NavMenuCssClass = newValue;
    }
}

