@page "/ExpenseMonthly"
@using BlazorBootstrap
@using ToyAssist.Web.DatabaseModels.Models
@using ToyAssist.Web.Helpers
@using System.Text.Json;
@using System.Collections.Generic;
@using ToyAssist.Web.TypeExtensions;

<PageTitle>Assist Toy - Expense Monthly</PageTitle>

<div class="box" style="width:100%">
    <h2 style="padding:10px;">Expense Monthly</h2>
    <DateInfoHeader></DateInfoHeader>
</div>