@using BlazorBootstrap
@using System.Text.Json.Serialization
@using ToyAssist.Web.DatabaseModels.Models
@using ToyAssist.Web.Helpers
@using System.Text.Json;
@using System.Collections.Generic;
@using ToyAssist.Web.TypeExtensions;
@inject IJSRuntime JSRuntime;

@{
    JsonSerializerOptions options = new()
            {
                ReferenceHandler = ReferenceHandler.IgnoreCycles,
                WriteIndented = true
            };
    string Title = "Handle payment: - " + ModalData?.ExpenseName;
}

<Modal @ref="@ModalRef" Title="@Title" Size="ModalSize.Large">
    <BodyTemplate>
      <div>
            Title
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
        <Button Color="ButtonColor.Primary" @onclick="OnHideModalClick">Save changes</Button>
    </FooterTemplate>
</Modal>